*{
    box-sizing: border-box;
    margin:  0;
    padding: 0;
}

:root{
    --primary-text-color:rgb(26, 26, 26);
    --secondary-text-color:rgba(228, 228, 228, 0.884);
    --bg-color-primary : rgb(241, 241, 241);
    --bg-color-secondary :rgba(17, 17, 17, 0.877);
}


.main-container{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-secondary);
    padding-top: 140px;
}
.login-box{
    height: 400px;
    width: 550px;
    border-width: 2px;
    border-style: solid;
    
    max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

}